[submodule "Classes/Vendors/facebook-ios-sdk"]
	path = Classes/Vendors/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Classes/Vendors/asi-http-request"]
	path = Classes/Vendors/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "Classes/Vendors/JSONKit"]
	path = Classes/Vendors/JSONKit
	url = https://github.com/johnezang/JSONKit
[submodule "Classes/Vendors/three20"]
	path = Classes/Vendors/three20
	url = git://github.com/facebook/three20.git
